.aboutContainer{
    margin-bottom: 40px;
}
.aboutContainer h1{
    color: var(--black);
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}
.aboutContainer p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: var(--black);
}
@media (max-width: 1000px) {
    .aboutContainer{
        display: flex;
        flex-direction: column;
    }
    .aboutContainer img{
        width: 80%;
        height: auto;
        align-self: center;
    }
    .aboutContainer p,h1{
        padding: 0px 20px;
    }
}
@media (max-width: 750px) {
    .aboutContainer h1{
        font-size: 36px;
    }
    .aboutContainer p{
        font-family: 'Dosis', sans-serif;
        font-size: 26px;
        color: var(--black);
    }
}