@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --green: #469114;
    --Acolor: rgb(33, 114, 200);
    --white: #fefffa; 
    --black: #000000 ;
    --lessBlack: #9699a4; ;
    --whiter: #ffffff;
    --darker: #d6d6d6;
    --gray: #f4f4f9;/* old #f6f6f9*/
    --yello: #feffd3;
  }
body{
    margin: 0px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: var(--white);
}
.mainContainer{
    width: 1400px;
    position: relative;
}
.mainContainer{
    width: 1400px;
    position: relative;
}
.navContainer{
    background-color: var(--green);
    display: flex;
    height: 70px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    width: 1400px;
    z-index: 3;

    color: var(--whiter);
    font-size: 20px;
}
.navLogo{
    margin: 20px;
    flex-grow: 2;
    align-self: center;
}
.navLogo a{
    font-size: 40px;
    font-family: 'Dosis', sans-serif;
    color: var(--whiter);
    text-decoration: none;
}
.navLinks{
    align-self: center;
}
.navLinks ul{
    margin: 20px;
    flex-grow: 3;
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    justify-content: end;
    text-decoration: none;
    column-gap: 40px;
}
.navLinks a{
    text-decoration: none;
    color: var(--whiter);
    font-family: 'Dosis', sans-serif;
}
.navUl{
    display: flex;
    align-items: center;
}
.themeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: var(--white);
    border-radius: 10px;
    border-width: 0px;
}
.navLinks a:hover{
    color: var(--darker);
}
.heroContainer{
    margin-top: 40px; 
    display: grid;
    grid-template-columns:40% 60%;
}
.hero_text{
    display: flex;
    flex-flow: column;
    padding: 0px 20px 0px 20px;
    justify-content: center;
    color: var(--black);
}
.hero_text h1{
    font-size: 64px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}
.hero_text p{
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}
.hero_image{
    display: flex;
    flex-flow: row-reverse;
}
.hero_image img{
    border-radius: 10px;
}
.stepsContainer{
    margin-top: 70px;
    height: 470px;
}
.steps{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.step{
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: 'Dosis', sans-serif;
}
.stepsHeading{
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin-top: 15px;
}
.box{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    background-color: var(--green);
    background-size: cover;
    background-position: center;
    transition-duration: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.box p{
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    z-index: 2;
    clip: auto;
    pointer-events: none;
}
.box1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('./Images/Caring.jpg');
}
.box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.45)), url('./Images/shopping.jpg');
}
.box3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url('./Images/shelter.jpg');
}
.invisibox{
    
    background-color: rgba(0, 0, 0, 0.24);
    width: 250px;
    height: 250px;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition-duration: 0.5s;
}
.invisibox:hover{
    opacity: 1;
    width: 350px;
    height: 350px;
}
.box:hover{
    width: 350px;
    height: 350px;
    font-size: 22px;
}
.footerContainer{
    background-color: var(--green);
    height: 150px;
    display: grid;
    border-start-end-radius: 10px;
    border-start-start-radius: 10px;
    color: var(--whiter);
    font-family: 'Dosis', sans-serif;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.footLogo{
    flex-grow: 1;
    text-align: center;
    font-size: 40px;
}
.footLogo a{
    text-decoration: none;
    color: var(--whiter);
}
.footSocials{
    flex-grow: 2;
    text-align: center;
}
.footSocials a{
    text-decoration: none;
    color: var(--whiter);
    margin-left: 5px;
    margin-right: 5px;
}
.footAtributions{
    text-align: center;
}
.footSocials img{
    height: 32px;
    width: 32px;
}
.footContacts{
    flex-grow: 1;
}
.footContacts>*{
    margin: 5px 0px 5px 0px;
}
.aboutContainer{
    margin-bottom: 40px;
}
.aboutContainer h1{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
}
.aboutContainer p{
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: var(--black);
}
#aniGrid{
    margin: 40px 0px 40px 0px;
    gap: 20px 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 500px;
}
.aniGridEl{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
        text-decoration: none;
        color: var(--whiter);
        font-family: 'Dosis', sans-serif;
}

.aniGridElBackground{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
.barBar{
    margin-top: 40px;
    display: flex;
    gap: 40px;
}
.mainBar{
    display: flex;
    flex-flow: column;
    flex-grow: 2;
    color: var(--black);
}
.rightBar{
    display: flex;
    flex-flow: column;
    color: var(--black);
}
.rightBar h2{
    margin-top: 25px;
}
.rightBar a{
    color: var(--Acolor);
}
.sponsors{
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}
.sponsors h1{
    margin-bottom: 20px;
}
.heroJaunam{
    width: 100%;
    background-color: var(--gray);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}
.heroJaunam h1{
    text-align: center;
    font-size: 36px;
    font-family: 'Dosis', sans-serif;
    margin: 15px;
}
.heroJaunam a{
    color: var(--Acolor);
}
.heroJaunam p{
    margin:20px;
    font-size: 23px;
    font-family: 'Dosis', sans-serif;
    margin: 0px 15px 40px 40px;
}
.heroPopular * {
    margin: 10px 0px 10px 0px;
}
.heroPopular{
    background-color: var(--gray);
    border-radius: 20px;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    padding: 20px;
}
.heroPopular h1{
    text-align: center;
    margin-top: 0px;
}
.heroJaunamImg{
    background-image: url("./Images/feeding.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    max-height: 500px;
    height: 90%;
    border-radius: 20px;
    margin: 0px 40px 40px 0px;
}
.articleContainer h1{
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
}
#map{
    height: 70vh;
    width: 100%;
    border-radius: 15px;
}
.mapContainer{
    background-color: var(--gray);
    border-radius: 40px;
    padding: 40px;
}
.iamSorry{
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin: 0;
}
.mapHeader{
    color: var(--black);
    font-size: 32px;
    font-family: 'Dosis', sans-serif;
    margin: 40px 20px 40px 20px;
}
.mapFilters{
    display: flex;
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    gap: 40px;
}
.mapFilters p{
    display: flex;
    align-items: center;
}
.patversmeH1{
    margin-top: 40px;color: var(--black);
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
}
.patFilter{
    color: var(--black);
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin: 0;
}
.patFilterContainer{
    margin-top: 40px;
    background-color: var(--gray);
    border-radius: 40px;
    padding: 20px;
    width: 50%;
}
.rakstsContainer{
 display: flex;
 gap: 40px;
 padding: 40px;
 justify-content: space-between;
}
.rightBar{
    display: flex;
    flex-flow: column;
    width: 300px;
}
.raksts p{
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    margin-left: 20px;
    color: var(--black);
}
.raksts h2{
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    /*margin: 0;*/
    color: var(--black);
}
.raksts h1{
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin: 20px 20px 10px 0px;
    color: var(--black);
}
.raksts h3{
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0px 20px 20px 0px;
    color: var(--lessBlack);
}
.raksts img{
    border-radius: 20px;
    margin: 10px 20px 10px 20px;
}
.raksts a{
    color: var(--Acolor);
}
article.raksts{
    background-color: var(--gray);
    padding: 20px;
    margin: 20px 40px 20px 0px;
    border-radius: 40px;
}
article.raksts p{
    margin: 15px 0px 15px 0px;
}
article.raksts h2{
    margin: 0px;
    font-family: 'Dosis', sans-serif;
}

@media only screen and (max-width: 1400px) {
    .mainContainer{
        width: 1000px;
  }
  .hero_image img{
    width: 500px;
    height: auto;
    
  }
  .hero_text h1{
     font-size: 50px;
  }
  .navContainer{
        width: 1200px;
  }

  .rightBar{
    width: 250px;
  }
  .heroJaunam{
    grid-template-columns: 2fr 1fr;
  }
  .sponsors img{
    width: 250px;
    height: auto;
  }
}
@media only screen and (max-width: 1200px) {
    .mainContainer{
        width: 800px;
  }
  .navLogo a {
    font-size: 32px;
  }
  .navUl{
    font-size: 16px;
  }
  .hero_image img{
    width: 500px;
    height: auto;
    
  }
  .hero_text h1{
     font-size: 37px;
  }
  .navContainer{
        width: 1000px;
  }

  .rightBar{
    width: 200px;
  }
  .heroJaunam{
    grid-template-columns: 2fr 1fr;
  }
  .sponsors img{
    width: 200px;
    height: auto;
  }

  .invisibox:hover {
    width: 250px;
    height: 250px;
  }
  .invisibox {
    opacity: 1;
    width: 150px;
    height: 150px;
  }
  .box {
    width: 150px;
    height: 150px;
  }
  .box:hover {
    width: 250px;
    height: 250px;
  }
  .hero_text p {
    font-size: 20px;
  }
  .stepsContainer {
    margin-top: 40px;
    height: 350px;
  }
  .footerContainer{
    font-size: 12px;
  }
  .footLogo {
    font-size: 35px;
  }
  
}